Django == 5.2.6
requests == 2.32.4
xmltodict == 0.14.2
psycopg==3.2.9
gunicorn==23.0.0
whitenoise==6.5.0

# Install the Alma API client from GitHub.
git+https://github.com/UCLALibrary/alma-api-client
