{% extends 'catstats/base.html' %}

{% block content %}
<form name="run_report" id="run_report" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <button type="submit">Run report</button>
</form>
<hr/>

{% comment %}
* Display report data below the form.
* First data column has text; the rest are numeric and get right-aligned.
* Final row is always totals; make it bold to stand out from regular data rows.
{% endcomment %}

{% if display_data and display_data|first %}
<table border="1" id="data-table">
    <tr>
    {% for header in headers %}
        <th>{{ header }}</th>
    {% endfor %}
    </tr>
    {% for row in display_data %}
    <tr {% if forloop.last %}class="bold"{% endif %}>
        {% for val in row %}
            <td {% if forloop.counter != 1 %}class="right"{% endif %}>{{ val }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No data was found.</p>
{% endif %}

{% endblock %}
