{% extends 'catstats/base.html' %}

{% block content %}
<h3>Release Notes</h3>
<hr/>

<h4>1.0.8</h4>
<p><i>May 15, 2025</i></p>
<ul>
    <li>
        Update Django to version 5.2.1.
        Update Python to version 3.13.
        Update psycopg to version 3.2.9 to go with PostgreSQL 16.
    </li>
</ul>

<h4>1.0.7</h4>
<p><i>February 26, 2025</i></p>
<ul>
    <li>
        Update Django to version 4.2.19 to patch security issues.
    </li>
</ul>

<h4>1.0.6</h4>
<p><i>February 25, 2025</i></p>
<ul>
    <li>
        Add release notes.
    </li>
</ul>

<h4>1.0.5</h4>
<p><i>February 21, 2025</i></p>
<ul>
    <li>
        Add basic developer information to README.
    </li>
</ul>

{% endblock %}
